<div class="container">
  <h2>Categories</h2>

  <div class="container">
    <button class="btn btn-success btn-sm float-end px-4 my-1 add-button" type="submit"><i class="bi bi-plus-lg">
      </i>Add</button>
  </div>

  <table class="table table-bordered mt-3">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Options</th>

      </tr>
    </thead>
    <tbody>
      <% categories.forEach(category=> { %>
        <tr>
          <td>
            <%= category.id %>
          </td>
          <td>
            <%= category.name %>
          </td>

          <td>
            <button class="btn btn-warning btn-sm edit-button" data-id="<%= category.id %>"
              data-name="<%= category.name %>">Edit</button>
            <button class="btn btn-danger btn-sm delete-button" data-id="<%= category.id %>">Delete</button>
          </td>
        </tr>
        <% }); %>
    </tbody>
  </table>
</div>


<script>
  // Handle Add button click
  document.querySelectorAll('.add-button').forEach(button => {
    button.addEventListener('click', function () {
      const name = prompt("Enter new category name:");

      if (name) {
        fetch('http://localhost:3000/categories', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ name: name })
        })
          .then(response => response.json())
          .then(data => {
            window.location.reload();
          })
      }
    });
  });
  // Handle Edit button click
  document.querySelectorAll('.edit-button').forEach(button => {
    button.addEventListener('click', function () {

      const id = this.getAttribute('data-id');
      const currentName = this.getAttribute('data-name');
      const newName = prompt("Enter new category name:", currentName);

      if (newName) {
        fetch(`http://localhost:3000/categories/${id}`, {
          method: 'PUT',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ name: newName })
        })
          .then(response => response.json())
          .then(data => {
            window.location.reload();
          })

      }
    });
  });

  // Handle Delete button click (unchanged)
  document.querySelectorAll('.delete-button').forEach(button => {
    button.addEventListener('click', function () {

      const id = this.getAttribute('data-id');

      if (confirm("Are you sure you want to delete this category?")) {
        fetch(`http://localhost:3000/categories/${id}`, {
          method: 'DELETE',
          headers: {
            'Content-Type': 'application/json'
          }
        })
          .then(() => window.location.reload())
      }
    });
  });
</script>